@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
}
html{
    box-sizing: border-box;
    height: 100%;
}
body{
    height: 100%;
    background-image: linear-gradient(to right bottom, #a9cfcc, #2fffc3, #69ff97, #a2ff60, #dcff00);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat';
    text-align: center;
    letter-spacing: 4px;
    text-shadow: 3px 0 2px #ccc;
    display: flex;
    flex-direction: column;
}
header h1{
    color: #F9F871;
    text-shadow: 3px 3px 5px rgb(136, 131, 87);
    font-size: 3rem;
    margin-top: 0.1em;
    margin-bottom: 0.3em;
}
button{
    font-family: inherit;
    letter-spacing: inherit;
}
/* cross and cicle color */
.far, .fas{
    color: #f56f46;
}

.restart-btn{
    padding: 0.7em 2em;
    margin: 2em 0;
    cursor: pointer;
    border: none;
    border-radius: 2rem;
    color: #f56f46;
    font-weight: 700;
    box-shadow: 5px 5px 10px rgb(138, 135, 135);
    transition: letter-spacing 0.7s;
}
.game-status{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.restart-btn:hover{
    transition: 0.7s;
    letter-spacing: 6px;
    box-shadow: 7px 7px 10px rgb(138, 135, 135);
}

#player-section , .turn-message{
    color: white;
    font-size: 1.2rem;
    margin: 2em 0;
    display: flex;
    justify-content: space-evenly;
}
.winning-section{
    display: none;
    width: 100%;
    color: #ffffff;
    margin: 1em 0;
    background-color: #FFE171;
    padding: 0.5em 0;
    transition: position 1s;
}
.winning-section-show{
    display: block;
}

.turn-message{
    display: none;
    margin: 1em 0;
}
.turn-message-show{
    display: block;
}
.game-board{
    /* border: 1px solid red; */
    max-width: 25rem;
    height: 25rem;
    margin: 2em auto;
    display: grid;
    grid-template-columns:  33% 33% 33% ;
    grid-template-rows: 33% 33% 33% ;
    gap: 0.5em;

}
.tile{
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease;
}
.tile-border{
    border-right: 0.4px solid black;
    border-left: 0.4px solid black;
}
.tile-row-border{
    border-bottom: 0.4px solid black;
}
.tile:hover{
    cursor: pointer;
    box-shadow: 2px 2px 1px grey;
    border-radius: 1em;
    transition: 1s;
}

footer{
    bottom: 0;
    width: 100%;
    margin-top:auto;
    padding: 1em 0;
    background-color: rgb(255, 255, 255);
}